<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= result.name %></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
   <%- include("../partials/header.ejs") %>
    <main>
        <div class="container mt-5">
        <div class="row">
            <div class="col-md-7">
            <img
                src="https://images.unsplash.com/photo-1503376780353-7e6692767b70"
                class="car-image"
            >
            </div>
            <div class="col-md-5">
                <div class="info-box">
                    <h2>
                        <%= result.name %>
                    </h2>

                <p class="text-muted">
                    Sedan - 4 chỗ
                </p>

                <h3 class="text-primary mb-4">
                    <%= result.pricePerDay %> VND / day
                </h3>

                <p>
                    Xe sạch sẽ, tiết kiệm nhiên liệu,
                    phù hợp đi gia đình và du lịch.
                </p>

                <ul class="list-group mb-4">

                    <li class="list-group-item">
                        Hộp số: Tự động
                    </li>

                    <li class="list-group-item">
                        Nhiên liệu: Xăng
                    </li>

                    <li class="list-group-item">
                        Điều hoà: Có
                    </li>

                </ul>

                <a href="/cars/<%= result.id %>/booking" class="btn btn-primary w-100">
                    Thuê ngay
                </a>
                </div>
            </div>
        </div>
    </div>
    </main>
    <%- include("../partials/footer.ejs") %>
</body>
</html>