 
        <%
            function buildQuery(page) {
                return new URLSearchParams({
                    ...query,
                    page,
                }).toString();
            }
        %>
        <% 
                const maxButtons = 5;
                let startPage = Math.max(1, currentPage - Math.floor(maxButtons / 2));
                let endPage = Math.min(totalPages, startPage + maxButtons - 1);
                if (endPage - startPage + 1 < maxButtons) {
                    startPage = Math.max(1, endPage - maxButtons + 1);
                }
            %>
            <div class="pagination page-buttons">
            <% if (currentPage > 1) { %>
                <a href="?<%= buildQuery(currentPage - 1)  %>" class="btn btn-sm btn-outline-secondary">Prev</a>
            <% } %>
            <% for (let pageNum = startPage; pageNum <= endPage; pageNum++) {
                const isActive = pageNum === currentPage ? 'active' : '';
            %>
                <a href="?<%= buildQuery(pageNum) %>" class="btn btn-sm btn-outline-primary <%= isActive %>"><%= pageNum %></a>
            <% } %>
            <% if (currentPage < totalPages) { %>
                <a href="?<%= buildQuery(currentPage + 1) %>" class="btn btn-sm btn-outline-secondary">Next</a>
            <% } %>
        </div>